.homediv-wrap{
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.homediv-title{
    color: #585858;
}

.homediv-line{
    width: 80%;
    height: 1px;
    background-color: #d8d8d8;
}
