.about-block{
    width: 100%;
    height: 350px;
    display: flex;
    font-family: 'Roboto Condensed';
}

.left{
    width: 50%;
    height: 100%;
}

.right{
    width: 50%;
    height: 100%;
    font-size: 16px;
}

.aboutimg{
    margin-top: 40px;
    width: 90%;
    object-fit: fill;
}

.aboutbtn{
    margin-top: 20px;
    background-color: #2d61ca;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 8px 16px;
    border-radius: .3rem;
    line-height: 1;
    transition: all 0.1s;
}

.aboutbtn:hover{
    background-color: #1b469c;
}