.homediv-wrap{
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.homediv-title{
    color: #585858;
    font-family: 'oswald';
    text-transform: uppercase;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    font-size: 28px;
}

.homediv-line{
    width: 80%;
    height: 1px;
    background-color: #818181;
    margin: 0 20px;
}


@media only screen and (max-width: 1200px) {

    .homediv-wrap{
        margin-bottom: -8px;
    }

    .homediv-title{
        margin-top: 36px;
        margin-left: 8px;
        color: white;
        font-size: 28px;
        text-align: center;
        width: 100%;
    }

    .homediv-line{
        display: none;
    }
}