.accordion{
    width: 100%;
}

.accordion-rubro{
    width:100%;
    background: transparent;
    border: 1px solid #e8e8e8;
    border: none;
    outline: none;
    text-align: left;
    font-weight: bolder;
    padding: 15px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.15s linear;
}

.accordion-button:hover{
    background: #ddd;
}

.accordion-content{
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: 0;
}

.accordion-content.open{
    max-height: unset;
}

.accordion-content-categoria{
    width:100%;
    background: transparent;
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 40px;
    font-size: 14px;
    cursor: pointer;
}