.noticiasbanner.prod{
    background: url('../../../visuals/prodbanner.png');
    background-position: center;
    height: 180px;
}

.containerprod{
    background: #F2EFEC;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 28px;
    margin-bottom: 42px;
}

.singleprod-wrap{
    width: 100%;
}

.prodtop{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 16px;
}

.singleprod-img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    background-color: white;
    box-shadow:
    0 0px 0.7px rgba(0, 0, 0, 0.028),
    0 0px 2.5px rgba(0, 0, 0, 0.042),
    0 0px 11px rgba(0, 0, 0, 0.07)
    ;
}

.divline{
    margin: 32px;
    width: 420px;
    height: 1px;
    background: rgba(0, 0, 0, 0.12);
}

.divline.right{
    margin: 0;
    margin-top: 8px;
    margin-bottom: 16px;
}

.share-wrap{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.share-icon{
    filter: invert(60%);
    transition: all .2s;
    cursor: pointer;
    height: 40px;
}

.share-icon:hover{
    filter: invert(0%);
}

.right{
    width: 50%;
    padding-left: 16px;
}

.singleprod-title{
    font-size: 42px;
    font-family: 'oswald';
    color: #424242; 
    margin: 0;   
    margin-top: 16px;
    text-transform: capitalize;
}

.precio{
    font-family: 'oswald';
    font-size: 32px;
    font-weight: 400;
    color: rgb(231, 139, 0);
    margin: 0;
    margin-top: 8px;
    /* margin-bottom: 20px; */
}

.precio_anterior{
    text-decoration: line-through;
    font-family: 'oswald';
    font-weight: 300;
    font-size: 16px;
    color: grey;
    margin: 0;
}

.desc{
    padding-top: 42px;
    width: 95%;
    height: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-bottom: 64px; */
}

.singleprod-sub{
    margin: 0;
    color: #505050;
    margin-top: 2px;
    margin-bottom: 0px;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 20px;
}

.singleprod-desc{
    color: #8e8e8e;
    margin-bottom: 36px;
    width: 100%;
    align-self: center;
    white-space: pre-line;
    text-align: justify;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.buttonscontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 220px;
    margin-top: 64px;
}

.aboutbtn.prodstock{
    width: 160px;
    height: 36px;
    font-size: 15px;
    margin-top: 0px;
    margin-left: 0px;
}

.aboutbtn.fichatecnica{
    height: 36px;
    width: 56px;
    margin: 0;
    margin-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(226, 226, 226);
    font-size: 24px;
}

.aboutbtn.fichatecnica:hover{
    background: rgb(211, 211, 211);

}

.material-icons.ficha{
    color: gray;
}

.share{
    align-self: flex-end;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    /* width: 220px; */
    width: 100%;
    /* margin-top: -16px; */
}

.compartir{
    letter-spacing: -0.4px;
    font-size: 14px;
}

.shareicons{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    margin-left: 350px;
}

.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorPrimary.MuiPaper-elevation4{
    background: #F2EFEC;
    color: #424242;
}

.makeStyles-root-90{
    background-color: transparent;
}

.MuiPaper-root.MuiAppBar-root.MuiAppBar-positionStatic.MuiAppBar-colorPrimary.MuiPaper-elevation4{
    box-shadow: none;
}


.PrivateTabIndicator-root-149.PrivateTabIndicator-colorSecondary-151.MuiTabs-indicator{
    /* color: #EE1818; */
    background: #F39201;
}

.MuiBox-root.MuiBox-root-154{
    padding: 4px;
    background: #F2EFEC;
}

.MuiTypography-root.MuiTypography-body1{
    background: transparent;
}

.videowrapper {
    position: relative;
    margin-top: 16px;
    margin-bottom: 64px;
    width: 450px;
    /* padding-bottom: 36.25%; */
    padding-bottom: 30.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
    align-self: center;
    
}
    
.ytvideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.prodrel{
    margin-bottom: 4px;
}

.divline.prod{
    width: 90%;
    margin-left: 0;
    background-color: #818181;
    max-width: 400px;
}

.divline.share{
    margin: 0;
    margin-left: 24px;
    width: 90%;
}

.divline.descr{
    width: 100%;
    height: 1px;
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
}

@media only screen and (max-width: 1200px) {

    .singleprod-img{
        width: 100%;
        height: auto;
    }

    .prodrel{
        color: #585858;
        margin-left: 0;
    }

    .divline.share{
        margin: 0 auto;
        margin-top: 16px;
        width: 90%;
    }

    .divline.prod{
        margin: 0 auto;
        margin-bottom: 16px;
    }
}

@media only screen and (max-width: 999px) {
    .product-block{
        flex-direction: column;
    }

    .prodtop{
        flex-direction: column;
    }

    .left{
        width: 100%;
        padding: 0;
        align-items: center;
        margin-bottom: 24px;
    }

    .right{
        padding: 0;
        width: 100%;
    }

    .singleprod-img{
        max-width: 100%;
        height: auto;
    }

    .MuiBox-root.MuiBox-root-154{
        padding: 4px;
        /* background: #F2EFEC; */
    }

    .videowrapper{
        width: 100%;
        min-height: 300px;
    }
    
}