.paper-style{
    /* margin: 8px 8px; */
    margin-top: 8px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* height: 400px; */
    min-height: 400px;
    max-height: 480px;
    width: 280px;
    cursor: pointer;
    padding: 5px;
    transition: all 0.2s;
    background-color: white;
    box-shadow: 1px 1px 3px 0px rgba(235,235,235,1);
    -webkit-animation: fadeIn 0.4s;
            animation: fadeIn 0.4s;
    border-radius: .5em;
}

.paper-style.mini{
    height: 370px;
    background-color: transparent;
    box-shadow: unset;
}

.prodcard-cat{
    font-size: 16px;
    color: #636363;
    margin: 0;
    font-family: 'Roboto Condensed';
}

.imgwrap{
    height: 280px;
    width: 280px;
    align-self: center;
    margin-top:-5px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    transition: all 0.1s;
}

.prodimg{
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.fabGreen{
    background-color: #F2BC02;
    width: 74px;
    height: 35px;
    border-radius: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.13);
    opacity: 0;
    transition: all 0.15s;
    
    transform: translate(100px, 10px);
}

.fabtitle{
    font-size: 12px;
    color: white;
}

.entericon{
    font-size: 16px;
    color: white;
    transform: rotate(180deg)
}

.contentwrap{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 120px;
    margin: 0px 10px;
}

.contentwrap.mini{
    height: 70px;
}

.prodcardtitle{
    font-size: 16px;
    color: #3b3b3b;
    transition: all 0.2s;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.prodcardtitle.mini{
    font-family: 'roboto Condensed';
    font-size: 24px;
}

.prodcardsub{
    font-size: 14px;
    color: #636363;
    margin: 0;
    font-family: 'Roboto Condensed';
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

.paper-style:hover .prodcardtitle{
    /* box-shadow:
    0 0px 6.4px rgba(0, 0, 0, 0.008),
    0 0px 9px rgba(0, 0, 0, 0.016),
    0 0px 10.7px rgba(0, 0, 0, 0.024),
    0 0px 12.2px rgba(0, 0, 0, 0.032),
    0 0px 14.1px rgba(0, 0, 0, 0.041),
    0 0px 21px rgba(0, 0, 0, 0.07)
    ; */
    /* box-shadow:
    0 0px 1.9px rgba(243, 146, 1, 0.459),
    0 0px 6.5px rgba(243, 146, 1, 0.024),
    0 0px 29px rgba(243, 146, 1, 0.04)
    ; */
    color: #F2BC02;
}

.paper-style:hover .imgwrap{
    /* -webkit-box-shadow: 0px 0px 4px 0px rgba(242,188,2,0.65);
    -moz-box-shadow: 0px 0px 4px 0px rgba(242,188,2,0.65);
    box-shadow: 0px 0px 4px 0px rgba(242,188,2,0.65); */
}

.paper-style:hover .fabGreen{
    opacity: 1;
    transform: translate(187px, 10px);
}