/* Listado de noticias */
.listado-entradas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos de card de noticias */
.entradacard{
    width: 85%;
    margin: 12px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    transition: all 0.2s;
    animation: fadeIn 1s;
}

/* Entrada Card Imagen */
.entradacard-imgwrap{
    height: 350px;
    width: 100%;
    align-self: center;
    transition: all 0.1s;
    overflow: hidden;
    object-fit: cover;

    -webkit-box-shadow: 1px 1px 3px 0px rgba(235,235,235,1);
    -moz-box-shadow: 1px 1px 3px 0px rgba(235,235,235,1);
    box-shadow: 1px 1px 3px 0px rgba(235,235,235,1);
}

.entrada-imgwrap{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Entrada Card Texto */
.entrada-contentwrap{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 0px 8px;
}

.entrada-cardtitle{
    font-size: 32px;
    color: #3b3b3b;
    /* color: #274582; */
    transition: all 0.2s;
    font-weight: 600;
    margin-bottom: -10px;
    margin-top: 16px;
    font-family: 'Roboto Condensed';

}

.entrada-date{
    font-size: 15px;
    color: #8e8e8e;
    font-family: 'Roboto Condensed';
    font-weight: 100;
}

.entrada-cardtext{
    font-size: 18px;
    color: #808080;
    margin-top: 2px;
    margin-right: 12px;
    font-family: 'Roboto Condensed';
    letter-spacing: 0.1px;
    line-height: 1.4rem;
    
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
}

.vermas{
    font-size: 16px;
    font-family:'roboto';
    width: fit-content;
    color:#F2BC02;
    font-weight: 600;
    transition: all 0.3s;
    width: 100%;
    text-align: end;
    padding-right: 16px;
}

.vermas:hover{
    color: #4d4d4d;
}