.content {
    flex: 1 0 auto;
    min-height: 100vh;
}
.footer{
    flex-shrink: 0;
    height: 235px;
    width: 100%;
    background-color: #274582;
    color: white;
    padding: 32px;
    margin-bottom: -3px;
    /* position: absolute;
    bottom: 0; */
    /* overflow: hidden; */
}

.footertitle{
    margin-bottom: 16px;
}

.footerabajo{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    height: auto;
    margin-top: -2px;
}

.footertext{
    font-weight: 500;
    /* line-height: 18px; */
    margin-top: 16px;
}

.footredes{
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 16px;
}

.footicon{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    height: 24px;
}

@media only screen and (max-width: 500px) {

    .footredes{
        margin-top: 16px;
    }

    .footer{
        height: 260px;
    }

    .footerabajo{
        flex-direction: column-reverse;
    }
}