@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap');


.heroimagewrap{
    width: 100%;
    /* height: calc(100vh + 80px); */
    height: 100vh;
    overflow: hidden;
    transform: translateY(-100px);
    z-index: 100;
    background: white;
}

.heroimg{
    /* display: block;
    position: absolute;
    width: 100%;
    filter: brightness(0.5); */
    /* animation: zoomHero 6s linear; */
    /* animation: cf4FadeInOut 6s linear; */
}

.heroimgcelu{
    display: none;
}

.textwrap{
    width: 100%;
    position: absolute;
    z-index: 200;
    /* top: 120px; */
    top: 100px;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbox{
    /* color: #363636; */
    /* background-color: rgba(255, 255, 255, 0.856); */
    width: 80%;
    /* height: 70vh; */
    /* background-color: #274582b2; */
    
    color: white;
    max-width: 900px;
    max-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;

    animation: textAnimation 24s ease-in infinite 0s; 
}

#hero_proyectos {
    opacity: 0;
    transition: opacity 0.2s;
    animation: textAnimation 24s ease-in infinite 8s; 
}

#hero_const {
    opacity: 0;
    transition: opacity 0.2s;

    animation: textAnimation 24s ease-in infinite 16s;
}

.herotitle{
    font-family: 'Oswald';
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 8px auto;
    margin-bottom: 0px;
    line-height: 78px;
    animation: aparecer 0.5s;

}

.herotext{
    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 300;
    margin-top: 32px;
}

.herobtn{
    margin: 16px;
    background-color: #2d61ca;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    padding: 8px 20px;
    border-radius: 2rem;
    line-height: 2;
    transition: all 0.1s;
    font-family: 'Roboto';
    font-size: 16px;
    width: 230px;
    height: 50px;
    margin-top: 324px;
}

.herobtn:hover{
    background-color: #1b469c;
}

/* Hero Image Chica */

.heroimagesmall{
    width: 100%;
    height: 300px;
    overflow: hidden;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0px);
}

.textwrap-small{
    width: 100%;
    z-index: 200;
    /* top: 120px; */
    top: 100px;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.herotitle-small{
    color: white;
    width: 80%;
    font-family: 'Roboto condensed';
    font-size: 60px;
    font-weight: 550;
    /* text-transform: uppercase; */
    margin: 20px auto;
}

@media only screen and (max-width: 1500px) {

    .heroimagewrap{
        height: calc(100vh);
    }

    /* .textbox{
        margin-top: ;
    } */

    .herotitle{
        font-size: 64px;
    }

}

@media only screen and (max-width: 1100px) {
    
    .heroimagewrap{
        height: calc(100vh);
        transform: translateY(0px);
    }
    
    .heroimg{
        display: none;
    }

    .heroimgcelu{
        display: block;
        position: relative;
        height: 100%;
        width: 100%;
        filter: brightness(0.5);
        object-fit: cover;
        background-position: center;
    }

    .herotitle{
        font-size: 64px;
    }

}

@media only screen and (max-width: 600px) {
    
    .heroimagewrap{
        height: 900px;
    }
    
    .herotitle{
        font-size: 60px;
    }
}

@media only screen and (max-width: 500px) {

    .heroimagewrap{
        height: 90vh;
        transform: translateY(0px);
    }

    .textwrap{
        margin-top: 100px;
        align-items: flex-start;
    }

    .herotitle{
        font-size: 46px;
        line-height: 46px;
    }

    .herobtn{
        margin-top: 250px;
    }
}



@keyframes aparecer {
    from { 
        opacity: 0; 
        transform: translateY(80px);
    }
    to { 
        opacity: 1; 
    }
  }

.slideshow {
    list-style-type: none;
}
/** SLIDESHOW **/
.slideshow,
.slideshow:after { 
    top: -16px; /*Not sure why I needed this fix*/
        position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    z-index: 0; 
}

.slideshow li span { 
        position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 24s ease-in infinite 0s; 
    filter: brightness(0.5); 

}

.slideshow li:nth-child(1) span { 
    /* background-image: url("https://www.estudiohelsinki.com/clientes/mariutti/img-web/Depositphotos_10853155_xl-2015.jpg");  */
    /* background-image: url("https://miro.medium.com/max/9856/1*gAG21NFA76ZlCbtK6SayVQ.jpeg");  */
    background-image: url("https://firebasestorage.googleapis.com/v0/b/mariuttiweb.appspot.com/o/Layout%2FAlServicio.jpeg?alt=media&token=8f07c0a7-9c6b-4115-b9ee-0245dcd925c7");
    animation-delay: 0s; 
    transition: opacity 0.2s;

}
.slideshow li:nth-child(2) span { 
    /* background-image: url("https://www.estudiohelsinki.com/clientes/mariutti/img-web/Depositphotos_142453059_xl-2015.jpg"); */
    background-image: url("https://firebasestorage.googleapis.com/v0/b/mariuttiweb.appspot.com/o/Layout%2FProyectos-min.jpg?alt=media&token=932cac9e-2fad-4dd3-b52f-ea8651d18078");
    animation-delay: 8s; 
    transition: opacity 0.2s;

}
.slideshow li:nth-child(3) span { 
    /* background-image: url("https://www.estudiohelsinki.com/clientes/mariutti/img-web/Depositphotos_32856489_xl-2015.jpg"); */
    background-image: url("https://firebasestorage.googleapis.com/v0/b/mariuttiweb.appspot.com/o/Layout%2FConstruccion-min.jpg?alt=media&token=160fe087-2a21-4e61-a9b5-f7183e768036");
    animation-delay: 16s; 
    transition: opacity 0.2s;

}
  
  
@keyframes imageAnimation { 
    0% {
    opacity:1;
    transform: scale(1.1);
    }
    19% {
    opacity:1;
    }
    28% {
    opacity:0;
    transform: scale(1.2);
    }
    80% {
    opacity:0;
    transform: scale(1.1);
    }
    90% {
    opacity:1;
    transform: scale(1.1);

    }
    100% {
    opacity:1;
    transform: scale(1.1);

    }
}

@keyframes textAnimation { 
    0% {
    opacity:1;
    }
    18% {
    opacity:1;
    }
    22% {
    opacity:0;
    }
    85% {
    opacity:0;
    }
    90% {
    opacity:1;
    }
    100% {
    opacity:1;
    }
}
