.paper-style{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 5px;*/
    height: 325px;
    width: 284px;
    cursor: pointer;
    /* border-radius: 10px; */
    padding: 15px;
    transition: all 0.2s;
}

.paper-style:hover{
    box-shadow:
    0 0px 6.4px rgba(0, 0, 0, 0.008),
    0 0px 9px rgba(0, 0, 0, 0.016),
    0 0px 10.7px rgba(0, 0, 0, 0.024),
    0 0px 12.2px rgba(0, 0, 0, 0.032),
    0 0px 14.1px rgba(0, 0, 0, 0.041),
    0 0px 21px rgba(0, 0, 0, 0.07)
    ;

}

.imgwrap{
    height: 220px;
    width: 220px;
    border-radius: 10px;
}

.prodimg{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.imghover{
    position: absolute;
    height: 284px;
    width: 284px;
    background: cadetblue;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s;
    border-radius: 10px;
}

.imghover span{
    color: white;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
/* 
.imghover:hover{
    opacity: 0.8;
} */